<html>
<head>
	<title></title>
</head>
<body>
<form name="Discovery Learning Apprenticeship Submission"  action='https://uraniumreborn.herokuapp.com/' method='post'>
<p style="text-align: center;"><span style="font-size:28px;"><strong>Discovery Learning Apprenticeship Submission</strong></span></p>
</form>

<p><span style="font-size:20px;"><strong>Faculty Member Info</strong></span></p>

<hr />
<p><strong>Name: &nbsp; <input maxlength="30" name="facultyName" size="30" type="text" /></strong></p>

<p><strong>Phone:&nbsp; <input maxlength="12" name="facultyPhone" size="12" type="tel" /></strong></p>

<p><strong>Email: &nbsp; <input maxlength="150" name="facultyEmail" size="50" type="email" /></strong></p>

<p><strong>Department / Program:&nbsp; <select name="departmentOrProgram" size="1"><option value="PS">Please Select</option><option value="AES">Aerospace Engineering Sciences</option><option value="AM">Applied Math</option><option value="C&amp;BE">Chemical &amp; Biological Engineering</option><option value="CE&amp;A">Civil, Environmental and Architectural Engineering</option><option value="CS">Computer Science</option><option value="ECEE">Electrical, Computer and Energy Engineering</option><option value="PHY">Physics</option><option value="EE">Environmental Engineering</option><option value="ME">Mechanical Engineering</option><option value="CSG">Colorado Space Grant</option><option value="EEd">Engineering Education</option><option value="ATLAS">ATLAS</option></select></strong></p>

<p><strong>Does this project have a focus on Engineering for Developing Communities?&nbsp;<input name="Yes" type="radio" value="yes" /></strong>Yes&nbsp;<input name="No" type="radio" value="no" />No</p>

<p>&nbsp;</p>

<p><span style="font-size: 20px;"><strong>Second Faculty Member (Optional)</strong></span></p>

<hr />
<p><strong>Name: &nbsp;&nbsp;<input maxlength="30" name="secondFacultyName" size="30" type="text" /></strong></p>

<p><strong>Phone:&nbsp;&nbsp;<input maxlength="12" name="secondFacultyPhone" size="12" type="tel" /></strong></p>

<p><strong>Email: &nbsp;&nbsp;<input maxlength="150" name="secondFacultyEmail" size="50" type="email" /></strong></p>

<p><strong>Department / Program:&nbsp;&nbsp;<select name="secondDepartmentOrProgram" size="1"><option value="PS">Please Select</option><option value="AES">Aerospace Engineering Sciences</option><option value="AM">Applied Math</option><option value="C&amp;BE">Chemical &amp; Biological Engineering</option><option value="CE&amp;A">Civil, Environmental and Architectural Engineering</option><option value="CS">Computer Science</option><option value="ECEE">Electrical, Computer and Energy Engineering</option><option value="PHY">Physics</option><option value="EE">Environmental Engineering</option><option value="ME">Mechanical Engineering</option><option value="CSG">Colorado Space Grant</option><option value="EEd">Engineering Education</option><option value="ATLAS">ATLAS</option></select></strong></p>

<div>
<p>&nbsp;</p>

<p><span style="font-size: 20px;"><strong>Grad Student / Post Doc Info&nbsp;(Optional)</strong></span></p>

<hr />
<p><strong>Name: &nbsp;&nbsp;<input maxlength="30" name="gradStudentName" size="30" type="text" /></strong></p>

<p><strong>Phone:&nbsp;&nbsp;<input maxlength="12" name="gradStudentPhone" size="12" type="tel" /></strong></p>

<p><strong>Email: &nbsp;&nbsp;<input maxlength="150" name="gradStudentEmail" size="50" type="email" /></strong></p>

<p>&nbsp;</p>

<p><span style="font-size: 20px;"><b>Apprenticeship Information</b></span></p>

<hr />
<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:700px;">
	<tbody>
		<tr>
			<td><span style="font-size:16px;"><strong>Title:</strong></span></td>
			<td><input maxlength="100" name="apprenticeshipTitle" size="50" type="text" /></td>
		</tr>
		<tr>
			<td><span style="font-size:16px;"><strong>Description:&nbsp;</strong></span></td>
			<td><textarea name="apprenticeshipDescription"></textarea></td>
		</tr>
		<tr>
			<td><strong><span style="font-size:16px;">Weblink</span>:</strong></td>
			<td><input maxlength="200" name="apprenticeshipWeblink" size="50" type="url" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Special requirements to be met by applicants:</strong></p>

<table border="0" cellpadding="1" cellspacing="1" style="width:400px;">
	<tbody>
		<tr>
			<td><span style="font-weight: bold;">1)</span></td>
			<td><textarea name="specialRequirement1"></textarea></td>
		</tr>
		<tr>
			<td><span style="font-weight: bold;">2)</span></td>
			<td><textarea name="specialRequirement2"></textarea></td>
		</tr>
		<tr>
			<td><span style="font-weight: bold;">3)</span></td>
			<td><textarea name="specialRequirement3"></textarea></td>
		</tr>
		<tr>
			<td><span style="font-weight: bold;">4)</span></td>
			<td><textarea name="specialRequirement4"></textarea></td>
		</tr>
		<tr>
			<td><span style="font-weight: bold;">5)</span></td>
			<td><textarea name="specialRequirement5"></textarea></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong>Applicants Major Field of Study:</strong></p>

<div>
<table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 600px;">
	<tbody>
		<tr>
			<td><input name="isAerospaceEngineering" type="checkbox" />Aerospace Engineering</td>
			<td><input name="isElectricalEngineering" type="checkbox" />Electrical Engineering</td>
		</tr>
		<tr>
			<td><input name="isAppliedMathematics" type="checkbox" />Applied Mathematics</td>
			<td><input name="isElectricalAndComputerEngineering" type="checkbox" />Electrical and Computer Engineering</td>
		</tr>
		<tr>
			<td><input name="isArchitecturalEngineering" type="checkbox" />Architectural Engineering</td>
			<td><input name="isEngineeringPhysics" type="checkbox" />Engineering Physics</td>
		</tr>
		<tr>
			<td><input name="isArchitecturalEngineering" type="checkbox" />Architectural Engineering</td>
			<td><input name="isEnvironmentalEngineering" type="checkbox" />Environmental Engineering</td>
		</tr>
		<tr>
			<td><input name="isChemicalandBiologicalEngineering" type="checkbox" />Chemical &amp; Biological Engineering</td>
			<td><input name="isEngineeringPlus" type="checkbox" />Engineering Plus</td>
		</tr>
		<tr>
			<td><input name="isCivilEngineering" type="checkbox" />Civil Engineering</td>
			<td><input name="isMechanicalEngineering" type="checkbox" />Mechanical Engineering</td>
		</tr>
		<tr>
			<td><input name="isComputerScience" type="checkbox" />Computer Science</td>
			<td><input name="isTechArtsAndMedia" type="checkbox" />Technology, Arts &amp; Media</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Amount of supervision required / interaction available:</strong><br />
<input name="isLittle" type="radio" />Very little supervision; student will need to work largely independently<br />
<input name="isModerate" type="radio" />Moderate amount of supervision and interaction with others<br />
<input name="isGood" type="radio" />Good deal of supervision; student will work as an integral part of a research team</p>

<p><strong>Primary supervision provided by:<br />
<input name="isFaculty" type="radio" /></strong>Faculty<br />
<input name="isGraduateStudent" type="radio" />Graduate Student<br />
<input name="isCombination" type="radio" />Combination of Faculty and Graduate Students</p>

<p><strong>Primary Nature of work:<br />
<input name="isTheoritical" type="radio" /></strong>Theoretical, most work on paper/electronic medium<br />
<strong><input name="isExperimental" type="radio" /></strong>Experimental, requiring hands-on work in a lab<br />
<strong><input name="isFieldBased" type="radio" /></strong>Field based, requiring hands-on work in the field<br />
<strong><input name="isComputerRelated" type="radio" /></strong>Computer-related, involving coding/analysis<br />
<strong><input name="isCombination" type="radio" /></strong>Combination of several types of work<br />
<strong><input name="isOther" type="radio" /></strong>Other, specify:<br />
<strong><input maxlength="100" name="otherNatureOfWork" size="50" type="text" /></strong></p>

<p><strong>Amount of prior work conducted in assocication with the project:<br />
<input name="isNoWork" type="radio" /></strong>No prior work; student will be starting from basic idea<br />
<strong><input name="isSomeWork" type="radio" /></strong>Some prior work; student will build on work of others<br />
<strong><input name="isWellEstablishedWork" type="radio" /></strong>Well-established body of work; student will refine/improved upon efforts of others<br />
<strong><input name="isOthers" type="radio" /></strong>Other, specify:<br />
<strong><input maxlength="100" name="otherAmountOfWork" size="50" type="text" /></strong></p>

<p><strong>Name of specific desired student:&nbsp;<input maxlength="50" name="desiredStudentName" size="30" type="text" /></strong></p>

<p><span style="font-size: 20px; font-weight: bold;">Finances</span></p>

<hr />
<table border="0" cellpadding="1" cellspacing="1" style="width:600px;">
	<tbody>
		<tr>
			<td>What speed type will you use for<br />
			your 50% match of the funding?</td>
			<td><input name="speedType" type="text" /></td>
			<td>or&nbsp;<input name="isNotSure" type="checkbox" />Not sure</td>
		</tr>
		<tr>
			<td>Accounting contact for your project</td>
			<td><input maxlength="50" name="accountingContactName" size="20" type="text" /></td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size: 20px;"><b>Other</b></span></p>

<hr />
<table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>Have you supervised a Discovery Learning Apprentice<br />
			in the past?</td>
			<td><input name="Yes" type="radio" value="yes" />Yes&nbsp;<input name="No" type="radio" value="no" />No</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><input name="Submit" type="submit" value="Submit" /></p>
</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>
</body>
</html>

