

.jumbotron-login{
    margin-bottom: 0px;
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    width:30%;
   min-height: 250px;
  left: 33%;
  position: relative;
   /* text-shadow: black 0.2em 0.2em 0.2em;*/
    padding-top: 40px;
    margin-top: 150px;



}


.loginform ul {
  padding: 0;

  margin: 0;
   width:190px;
}
.loginform li {
  display: inline;
  position: relative;
  left: 30%;

  
}

label {
  display: block;
  color: black;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}
 
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
  outline: 0;
}


.loginform input:not([type=submit]) {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}



.loginform input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #64c8ef; 
  background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); 
  background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); 
  background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); 
  background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
  background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 );
  color: #fff;
  padding: 10px 25px;
  margin-right: 0;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}