{% extends "navigation.html" %}

{% block content %}
<script type="text/jsx">
    var Table = Reactabular.Table;
    var sort = Reactabular.sort;
    var orderBy = _.orderBy;
    const crows = JSON.parse('{{pRows|tojson}}');

    class ProjectModal extends React.Component {
        constructor(props){
            super(props);
            this.rowjson = JSON.parse(this.props.rowDet);
            this.projDetails = JSON.parse('{{pFRows|tojson|safe}}');
            this.renderableRow = this.getRenderableRow();

            // this is always false -- as nothing is being read.
            this.focusDevCommString = this.renderableRow["isDevelopingCommunities"] ? "This project has a focus on Engineering for Developing Communities" : "This project does not have a focus on Engineering for Developing Communities"

            this.specRec = this.getSpecRec();
            this.fStudy = this.getFStudy();


        }
        getRenderableRow(){
            const p_id = this.rowjson["id"];
            var cnt = 0;
            for(cnt=0;cnt<this.projDetails.length;cnt++){
                if(p_id == this.projDetails[cnt]["id"])
                        return this.projDetails[cnt];

            }
            return null;
        }

        // u getting replaced in normal text as well

        getSpecRec(){
            var specRec = this.renderableRow["specialRequirements"];
            specRec = specRec.replace(new RegExp("u",'g'),"");
            specRec = specRec.replace(new RegExp("'",'g'),"\"");
            specRec = JSON.parse(specRec);
            var cnt = 0;
            var specRecH = [];
            specRecH.push(<ul className="list-group"></ul>);
            for(cnt=0;cnt<specRec.length;cnt++){
                if(specRec[cnt] != '')
                specRecH.push(<li className="list-group-item"> {specRec[cnt]} </li>);
            }
            return specRecH;
        }
        getFStudy(){
            var fStud = this.renderableRow["fieldOfStudy"];
            fStud = fStud.replace(new RegExp("u",'g'),"");
            fStud = fStud.replace(new RegExp("'",'g'),"\"");
            fStud = JSON.parse(fStud);
            var fStudH = [];
            var cnt=0;
            fStudH.push(<ul className="list-group"></ul>);
            for(cnt=0;cnt<fStud.length;cnt++){
                fStudH.push(<li className="list-group-item"> {fStud[cnt]} </li>);
            }
            return fStudH;
        }
        render(){
            return (
                <div className="modal-dialog" role="document">
                    <div className="modal-content">
                        <div className="modal-header">
                            <button type="button" className="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 className="modal-title" id="myModalLabel"><b> {this.renderableRow["Title"]} </b></h5>
                        </div>
                        <div className="modal-body">
                            <h5><b>Project Description</b></h5>
                            <p>{this.renderableRow["Description"]}
                            <a className="btn" href={this.renderableRow["WebLink"]}>
                                <span className="glyphicon glyphicon-link" aria-hidden="true"></span>
                            </a>
                            </p>
                            <hr/>
                            <h5><b> Faculty</b></h5>
                            {}
                            <hr/>
                            <h5><b>Field of Study</b></h5>
                                {this.fStudy}
                            <hr/>
                            <h5><b>Special Requirements</b></h5>
                                {this.specRec}
                            <hr/>
                            <h5><b> Supervision</b></h5>
                            {this.renderableRow["amountOfSupervision"]}
                            <hr/>
                            <h5><b> Primary Supervision provided by</b></h5>
                            {this.renderableRow["supervisor"]}
                            <hr/>
                            <h5><b> Primary Nature of Work</b></h5>
                            {this.renderableRow["primaryNature"]}
                            <hr/>
                            <h5> <b> Amount of prior work associated with the project</b></h5>
                            {this.renderableRow["priorWork"]}
                            <hr/>
                            <h5> <b>Desired Student</b></h5>
                            {this.renderableRow["desiredStudent"]}
                            <hr/>
                        </div>
                        <div className="modal-footer">
                            <h6>Note: </h6>
                            <p>{this.focusDevCommString}</p>
                        </div>
                    </div>
                </div>
            );
        }
    }

    class ProjectSortTable extends React.Component {
        constructor(props) {
            super(props);
            const getSortingColumns = () => this.state.sortingColumns || {};
            const sortable = sort.sort({
                getSortingColumns,
                onSort: selectedColumn => {
                    this.setState({
                        sortingColumns: sort.byColumns({
                            sortingColumns: this.state.sortingColumns, selectedColumn
                        })
                    })
                }
            });
            const resetable = sort.reset({
                event: 'onDoubleClick',
                getSortingColumns,
                onReset: ({sortingColumns}) => this.setState({sortingColumns})
            });
            this.state = {
                // Sort the first column in a descending way by default.
                // "asc" would work too and you can set multiple if you want.
                sortingColumns: {
                    0: {
                        direction: 'desc',
                        position: 0
                    }
                },
                columns: [
                    {
                        property: 'Faculty Name',
                        header: {
                            label: 'Faculty Name',
                            transforms: [sortable],
                            format: sort.header({
                                sortable,
                                getSortingColumns
                            })
                        }
                    },
                    {
                        property: 'Project Name',
                        header: {
                            label: 'Project Name',
                            transforms: [sortable],
                            format: sort.header({
                                sortable,
                                getSortingColumns
                            })
                        }
                    },
                    {
                        property: 'Project Description',
                        header: {
                            label: 'Project Description'
                        }
                    }
                ],
                rows: crows
            };
            this.onRow = this.onRow.bind(this)
        }

        render(){
            const {rows, columns, sortingColumns} = this.state;
            const sortedRows = sort.sorter({
                columns,
                sortingColumns,
                sort: orderBy
            })(rows);
            return(
                <div>
                    <Table.Provider className="table table-striped well table-hover" columns={columns}>
                        <Table.Header />
                        <Table.Body rows={sortedRows} rowKey="id" onRow={this.onRow}/>
                    </Table.Provider>
                </div>
            );
        }

        onRow(row, { rowIndex }) {
            return {
                className: 'selected-row',
                onClick: () => {ReactDOM.render(<ProjectModal rowDet={JSON.stringify(row)} />,
                        document.getElementById("myModal"));$("#myModal").modal("toggle")}
            };
        }
    }

    ReactDOM.render(<ProjectSortTable>

    </ProjectSortTable>,document.getElementById("projectList"))
</script>
<div id="projectList">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

{% endblock %}