<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Discovery Learning Apprenticeship Program</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../static/css/login.css">
      <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/jquery-serialize-object/dist/jquery.serialize-object.min.js')}}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
      <script src="{{ url_for('static', filename='bower_components/react/react.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/react/react-dom.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/reactabular/dist/reactabular.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script type="text/javascript">
  function primarynaturedisablechackebox(){
    var pn = document.getElementById("otherPrimaryNature");
    if(pn.checked)
      document.getElementById("otherNatureOfWork").disabled = false;
    else
     document.getElementById("otherNatureOfWork").disabled = true;    
  }

   function priorWorkdisablechackebox(){
    var pw = document.getElementById("otherPrimaryWork");
    if(pw.checked)
      document.getElementById("otherAmountOfWork").disabled = false;
    else
     document.getElementById("otherAmountOfWork").disabled = true;    
  }

    function financestextboxdisabled(){
    var f = document.getElementById("isNotSure");
    if(f.checked)
      document.getElementById("speedType").disabled = true;
    else
     document.getElementById("speedType").disabled = false;    
  }
</script>
  <script>



    $(document).ready(function() {
    $('#studentform').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },

        fields: {
            firstname: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                   }
                }
            },
             last_Name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'US',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            localAddressLine1: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            localAddressCity: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
          localAddressState: {
                validators: {
                    notEmpty: {
                        message: 'Please select your state'
                    }
                }
            },
            localAddressZip: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your zip code'
                    },
                    zipCode: {
                        country: 'US',
                        message: 'Please supply a vaild zip code'
                    }
                }
            },
            primaryMajor: {
                validators: {
                    notEmpty: {
                        message: 'Please select your state'
                    }
                }
            },

            race: {
                validators: {
                    choice: {
                        min: 1,
                        max: 1,
                        message: 'Please choose a option'
                    }
                }
            },




            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#studentform').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serializeJSON(), function(result) {
                console.log(result);
            }, 'json');
        });




      //  validation 2 
        $('#facultyform').bootstrapValidator({
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },

                    fields: {
                        facultyFirstName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your first name'
                                }
                            }
                        },
                        facultyLastName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your last name'
                                }
                            }
                        },
                        facultyEmail: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your email address'
                                },
                                emailAddress: {
                                    message: 'Please supply a valid email address'
                                }
                            }
                        },
                        facultyPhone: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your phone number'
                                },
                                phone: {
                                    country: 'US',
                                    message: 'Please supply a vaild phone number with area code'
                                }
                            }
                        },

                               facultyDepartment: {
                              validators: {
                                 notEmpty: {
                             message: 'Please select the department'
                                  }
                                  }
                              },

                                 secondFacultyFirstName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your first name'
                                }
                            }
                        },
                        secondFacultyLastName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your last name'
                                }
                            }
                        },
                        secondFacultyEmail: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your email address'
                                },
                                emailAddress: {
                                    message: 'Please supply a valid email address'
                                }
                            }
                        },
                        secondFacultyPhone: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your phone number'
                                },
                                phone: {
                                    country: 'US',
                                    message: 'Please supply a vaild phone number with area code'
                                }
                            }
                        },

                                 secondFacultyDepartment: {
                              validators: {
                                 notEmpty: {
                             message: 'Please select the department'
                                  }
                                  }
                              },

                        gradStudentFirstName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your first name'
                                }
                            }
                        },
                        gradStudentLastName: {
                            validators: {
                                stringLength: {
                                    min: 2,
                                },
                                notEmpty: {
                                    message: 'Please supply your last name'
                                }
                            }
                        },
                        gradStudentEmail: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your email address'
                                },
                                emailAddress: {
                                    message: 'Please supply a valid email address'
                                }
                            }
                        },
                        gradStudentPhone: {
                            validators: {
                                notEmpty: {
                                    message: 'Please supply your phone number'
                                },
                                phone: {
                                    country: 'US',
                                    message: 'Please supply a vaild phone number with area code'
                                }
                            }
                        },
         gradStudentDepartment: {
                              validators: {
                                 notEmpty: {
                             message: 'Please select the department'
                                  }
                                  }
                              },


                                     apprenticeshipTitle: {
                            validators: {
                                stringLength: {

                                    min:2,
                                    max: 80,
                                },
                                notEmpty: {
                                    message: 'Please supply your Apprenticeship Title'
                                }
                            }
                        },


                                       apprenticeshipDescription: {
                            validators: {
                                stringLength: {

                                    min:2,
                                    max: 1200,
                                },
                                notEmpty: {
                                    message: 'Please supply your Apprenticeship Description'
                                }
                            }
                        },


              'fieldOfStudy[]': {
                validators: {
                    choice: {
                        min: 1,
                        message: 'Please choose a option'
                    }
                }
            },


            apprenticeshipWeblink: {
                validators: {
                    uri: {
                        message: 'The entered URL is not valid'
                    }
                }
            },



                    }
                })
                .on('success.form.bv', function(e) {
                    $('#success_message').slideDown({ opacity: "show" }, "slow")
                    $('#facultyform').data('bootstrapValidator').resetForm();

                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serializeJSON(), function(result) {
                        console.log(result);
                    }, 'json');
                });







});


  </script>
  </head>
  <body >

    <!-- scripts -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>-->
<nav class="navbar navbar-inverse navbar-static-top navbar-custom1" style="background:#f4bc42">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Discovery Learning Apprenticeship Program</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a  href="/">Home</a></li>
      <li ><a href="student">Student form</a></li>
        <li > <a href="faculty">Faculty form</a></li>
      <li > <a href="listofprojects">List of Projects</a></li>
    </ul>
      {% if 'email' not in session %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="login"><span class="glyphicon glyphicon-log-in "></span> Login</a></li>
              <li><a href="signup"><span class="glyphicon glyphicon-log-in "></span> Signup</a></li>
          </ul>

      {% else %}
          <ul class="nav navbar-nav navbar-right">
              <li> <a href="/"> {% print session['name'] %} </a></li>
              <li><a href="logout"><span class="glyphicon glyphicon-log-in "></span> Logout</a></li>
          </ul>
      {% endif %}

  </div>
</nav>
{% block content %}
{% endblock %}
  </body>
</html>
