<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Discovery Learning Apprenticeship Program</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../static/css/login.css">
      <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/jquery-serialize-object/dist/jquery.serialize-object.min.js')}}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
      <script src="{{ url_for('static', filename='bower_components/react/react.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/react/react-dom.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/reactabular/dist/reactabular.js')}}"></script>
      <script src="{{ url_for('static', filename='bower_components/lodash/dist/lodash.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <script src="../static/js/studentValidation.js"></script>
      <script src="../static/js/facultyValidation.js"></script>
      <script src="../static/js/signupValidation.js"></script>
      <script type="text/javascript" src="../static/js/field-disable.js"></script>
  </head>

  <body >

    <!-- scripts -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>-->
<nav class="navbar navbar-inverse navbar-static-top navbar-custom1" style="background:#f4bc42">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Discovery Learning Apprenticeship Program</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a  href="/">Home</a></li>
      <li ><a href="student">Student form</a></li>
        <li > <a href="faculty">Faculty form</a></li>
      <li > <a href="listofprojects">List of Projects</a></li>
    </ul>
      {% if 'email' not in session %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="login"><span class="glyphicon glyphicon-log-in "></span> Login</a></li>
              <li><a href="signup"><span class="glyphicon glyphicon-log-in "></span> Signup</a></li>
          </ul>

      {% else %}
          <ul class="nav navbar-nav navbar-right">
              <li> <a href="/"> {% print session['name'] %} </a></li>
              <li><a href="logout"><span class="glyphicon glyphicon-log-in "></span> Logout</a></li>
          </ul>
      {% endif %}

  </div>
</nav>
{% block content %}
{% endblock %}
  </body>
</html>
