{% extends "navigation.html" %}

{% block content %}
<script type="text/jsx">
    $.ajax({
        url: '/getMatches',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var students = data["student"].concat(data["unassignedStudent"]);
            var aProjs = data["assignedProject"];
            var projects = data["projects"];
            var prefs = data["projectPreference"].concat(data["unassignedStudentProjPrefences"]);
            ReactDOM.render(<PreferenceMatrix colHeaders={projects} rowHeaders={students} projPrefs={prefs} assignedProjs={aProjs}
                                              classNames="table table-striped well table-hover table-responsive">
            </PreferenceMatrix>, document.getElementById("prefmat"));
            $("#prefmat").tableExport({
                bootstrap: true,
                formats: ["xlsx"],
                fileName: "PreferencesTable",
                position: "bottom"
            });
        }})
</script>

<div id="prefmat" style="overflow: auto">

</div>
{% endblock %}
