{% extends "navigation.html" %}

{% block content %}

<form class="form-horizontal" action="/signup" method="post" id="signupform" enctype='application/json'>

	<div class="well">
		<h2 style="text-align: center">Create an Account</h2>
		<div>&nbsp</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="newUser[FirstName]">First Name</label>
			<div class="col-md-5">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="newUser[FirstName]" placeholder="First Name">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="newUser[LastName]">Last Name</label>
			<div class="col-md-5">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="newUser[LastName]" placeholder="Last Name">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="newUser[Phone]">Phone</label>
			<div class="col-md-5">
				<label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
						<input type="tel" class="form-control" size="10" maxlength="10" name="newUser[Phone]" data-format="+1 (ddd) ddd-dddd">
					</div>
				</label>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="newUser[Email]">Email</label>
			<div class="col-md-5">
				<label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input class="form-control" type="email" size="30" name="newUser[Email]" placeholder="email@colorado.edu">
					</div>
				</label>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="newUser[Password]">Password</label>
			<div class="col-md-5">
				<label>
					<div class="input-group">
						<input type="password" class="form-control" id="newUser[Password]" name="newUser[Password]" placeholder="Password">
					</div>
				</label>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="confirmPassword">Confirm Password</label>
			<div class="col-md-5">
				<label>
					<div class="input-group">
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Renter Password">
					</div>
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div>
			<button type="submit" class="btn center-block btn-default">signup</button>
		</div>
	</div>

</form>

{% endblock %}

