{% extends "navigation.html" %}

{% block content %}

<div class="container">
    <form class="form-horizontal" action=" " method="post"  id="studentform">
        <fieldset>

            <div class="well">
                <h2 style="text-align: center">Demographic Information</h2>
                <div>&nbsp</div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[FirstName]">First Name</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" name="student[FirstName]" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[LastName]">Last Name</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="student[LastName]" placeholder="Last Name"></div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="student[gender]"> Gender </label>
                    <div class="col-md-5">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" >Male</button>
                            <button type="button" class="btn btn-primary">Female</button>
                            <button type="button" class="btn btn-primary">Other</button>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                   <label class="control-label col-md-2" for="student[Gender]">Gender</label>
                   <div class="col-md-5">
                     <div class="radio">
                       <label><input type="radio" name="student[Gender]">Male</label>
                     </div>
                     <div class="radio">
                       <label><input type="radio" name="student[Gender]">Female</label>
                     </div>
                   </div>
                </div>


                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="isSpanishOrigin"> Are you Hispanic, Chicano, Mexican, Latino, Cuban, Puerto Rican, South or Central American, or Spanish Origin? </label>
                    <div class="col-md-5"></br>
                        </br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-primary">No</button>
                            <button type="button" class="btn btn-primary">Do not wish to disclose</button>
                        </div>
                    </div>
                </div> -->


                <div class="form-group">
                  <label class="control-label col-md-2" for="student[isSpanishOrigin]">Are you Hispanic, Chicano, Mexican, Latino, Cuban, Puerto Rican, South or Central American, or Spanish Origin?</label>
                  <div class="col-md-5">
                    <div class="radio">
                      <label><input type="radio" name="student[isSpanishOrigin]">Yes</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="student[isSpanishOrigin]">No</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="student[isSpanishOrigin]">Do not wish to disclose</label>
                    </div>
                  </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Race][]">Please check your race (select all that apply): </label>
                    <div class="col-md-5">
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="American Indian or Alaskan Native">American Indian or Alaskan Native</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="Black or African-American">Black or African-American</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="Native Hawaiian or other Pacific Islander">Native Hawaiian or other Pacific Islander</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="Asian">Asian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="White">White</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="Other">Other</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="student[Race][]" value="Do not wish to disclose">Do not wish to disclose</label>
                        </div>
                    </div>
                </div>
            </div>

            <div>&nbsp</div>

            <div class="well">
                <h2 style="text-align: center">&nbspContact Information</h2>
                <div>&nbsp</div>

                <!-- Local Address -->
                <div class="well" style="background-color: lightgray">
                    <h4>&nbsp&nbsp&nbsp&nbspLocal Address</h4>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[LocalAddressLine1]">Address Line 1</label>
                        <div class="col-md-5" inputGroupContainer>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[LocalAddressLine1]" placeholder="Number, Street" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[LocalAddressLine2]">Address Line 2</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[LocalAddressLine2]" placeholder="Apt" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[LocalAddressCity]">City</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[LocalAddressCity]" placeholder="Boulder" >
                            </div>
                        </div>
                    </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[LocalAddressState]">State</label>
                <div class="col-md-5 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="student[LocalAddressState]" class="form-control" >
                            <option value=" " >Please select your state</option>
                            <option value ="Alabama"> Alabama</option>
                                <option value ="Alaska">  Alaska</option>
                                <option value ="Arizona"> Arizona</option>
                                <option value ="Arkansas">  Arkansas</option>
                                <option value ="California">  California</option>
                                <option value ="Colorado">  Colorado</option>
                                <option value ="Connecticut"> Connecticut</option>
                                <option value ="Delaware">  Delaware</option>
                                <option value ="DistrictofColumbia">  District of Columbia</option>
                                <option value ="Florida"> Florida</option>
                                <option value ="Georgia"> Georgia</option>
                                <option value ="Hawaii">  Hawaii</option>
                                <option value ="Idaho"> Idaho</option>
                                <option value ="Illinois">  Illinois</option>
                                <option value ="Indiana"> Indiana</option>
                                <option value ="Iowa">  Iowa</option>
                                <option value ="Kansas"> Kansas</option>
                                <option value ="Kentucky">  Kentucky</option>
                                <option value ="Louisiana"> Louisiana</option>
                                <option value ="Maine"> Maine</option>
                                <option value ="Maryland">  Maryland</option>
                                <option value ="Mass"> Massachusetts</option>
                                <option value ="Michigan">  Michigan</option>
                                <option value ="Minnesota"> Minnesota</option>
                                <option value ="Mississippi"> Mississippi</option>
                                <option value ="Missouri">  Missouri</option>
                                <option value ="Montana"> Montana</option>
                                <option value ="Nebraska">  Nebraska</option>
                                <option value ="Nevada">  Nevada</option>
                                <option value ="NewHampshire"> New Hampshire</option>
                                <option value ="NewJersey">  New Jersey</option>
                                <option value ="NewMexico">  New Mexico</option>
                                <option value ="NewYork">  New York</option>
                                <option value ="NorthCarolina">  North Carolina</option>
                                <option value ="NorthDakota">  North Dakota</option>
                                <option value ="Ohio">  Ohio</option>
                                <option value ="Oklahoma">  Oklahoma</option>
                                <option value ="Oregon">  Oregon</option>
                                <option value ="Pennsylvania">  Pennsylvania</option>
                                <option value ="RhodeIsland">  Rhode Island</option>
                                <option value ="SouthCarolina">  South Carolina</option>
                                <option value ="SouthDakota">  South Dakota</option>
                                <option value ="Tennessee"> Tennessee</option>
                                <option value ="Texas"> Texas</option>
                                <option value ="Utah">  Utah</option>
                                <option value ="Vermont"> Vermont</option>
                                <option value ="Virginia">  Virginia</option>
                                <option value ="Washington">  Washington</option>
                                <option value ="WestVirginia"> West Virginia</option>
                                <option value ="Wisconsin"> Wisconsin</option>
                                <option value ="Wyoming"> Wyoming</option>
                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[LocalAddressZip]">Zip</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[LocalAddressZip]" placeholder="Zip" >
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Summer Address -->
                <div class="well" style="background-color: lightgray">

                    <h4>&nbsp&nbsp&nbsp&nbspSummer Address (if different)</h4>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[SummerAddressLine1]">Address Line 1</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[SummerAddressLine1]" placeholder="Number, Street" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[SummerAddressLine2]">Address Line 2</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[SummerAddressLine2]" placeholder="Apt">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[SummerAddressCity]">City</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[SummerAddressCity]" placeholder="Boulder" >
                            </div>
                        </div>
                    </div>

          <div class="form-group">
                <label class="control-label col-md-2" for="student[SummerAddressState]">State</label>
                <div class="col-md-5 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="student[SummerAddressState]" class="form-control" >
                            <option value=" " >Please select your state</option>
                           <option value ="Alabama"> Alabama</option>
                                <option value ="Alaska">  Alaska</option>
                                <option value ="Arizona"> Arizona</option>
                                <option value ="Arkansas">  Arkansas</option>
                                <option value ="California">  California</option>
                                <option value ="Colorado">  Colorado</option>
                                <option value ="Connecticut"> Connecticut</option>
                                <option value ="Delaware">  Delaware</option>
                                <option value ="DistrictofColumbia">  District of Columbia</option>
                                <option value ="Florida"> Florida</option>
                                <option value ="Georgia"> Georgia</option>
                                <option value ="Hawaii">  Hawaii</option>
                                <option value ="Idaho"> Idaho</option>
                                <option value ="Illinois">  Illinois</option>
                                <option value ="Indiana"> Indiana</option>
                                <option value ="Iowa">  Iowa</option>
                                <option value ="Kansas"> Kansas</option>
                                <option value ="Kentucky">  Kentucky</option>
                                <option value ="Louisiana"> Louisiana</option>
                                <option value ="Maine"> Maine</option>
                                <option value ="Maryland">  Maryland</option>
                                <option value ="Mass"> Massachusetts</option>
                                <option value ="Michigan">  Michigan</option>
                                <option value ="Minnesota"> Minnesota</option>
                                <option value ="Mississippi"> Mississippi</option>
                                <option value ="Missouri">  Missouri</option>
                                <option value ="Montana"> Montana</option>
                                <option value ="Nebraska">  Nebraska</option>
                                <option value ="Nevada">  Nevada</option>
                                <option value ="NewHampshire"> New Hampshire</option>
                                <option value ="NewJersey">  New Jersey</option>
                                <option value ="NewMexico">  New Mexico</option>
                                <option value ="NewYork">  New York</option>
                                <option value ="NorthCarolina">  North Carolina</option>
                                <option value ="NorthDakota">  North Dakota</option>
                                <option value ="Ohio">  Ohio</option>
                                <option value ="Oklahoma">  Oklahoma</option>
                                <option value ="Oregon">  Oregon</option>
                                <option value ="Pennsylvania">  Pennsylvania</option>
                                <option value ="RhodeIsland">  Rhode Island</option>
                                <option value ="SouthCarolina">  South Carolina</option>
                                <option value ="SouthDakota">  South Dakota</option>
                                <option value ="Tennessee"> Tennessee</option>
                                <option value ="Texas"> Texas</option>
                                <option value ="Utah">  Utah</option>
                                <option value ="Vermont"> Vermont</option>
                                <option value ="Virginia">  Virginia</option>
                                <option value ="Washington">  Washington</option>
                                <option value ="WestVirginia"> West Virginia</option>
                                <option value ="Wisconsin"> Wisconsin</option>
                                <option value ="Wyoming"> Wyoming</option>
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[SummerAddressZip]">Zip</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="student[SummerAddressZip]" placeholder="Zip" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Phone]">Phone: </label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" class="form-control" size="10" maxlength="10" name="student[Phone]" data-format="+1 (ddd) ddd-dddd">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Email]">Email:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control" type="email" size="30" class="form-control" name="student[Email]">
                        </div>
                    </div>
                </div>
            </div>

            <div>&nbsp</div>

            <div class="well">
                <h2 style="text-align: center">Academic Information</h2>
                <div>&nbsp</div>

                <p> Please carefully enter your academic information. If you are still open option, indicate which major you plan to enter. </p>
                <div class="form-group">
                    <label class="control-label col-md-2" for="student[PrimaryMajor]">Primary Major:</label>
                <div class="col-md-5">
                    <select class="form-control  selectpicker" name="student[PrimaryMajor]" placeholder="Select Major">
                        <option>Aerospace Engineering</option>
                        <option>Applied Mathematics</option>
                        <option>Architectural Engineering</option>
                        <option>Chemical Engineering</option>
                        <option>Chemical & Biological Engineering</option>
                        <option>Civil Engineering</option>
                        <option>Computer Science</option>
                        <option>Electrical Engineering</option>
                        <option>Electrical and Computer Engineering</option>
                        <option>Engineering Physics</option>
                        <option>Engineering Plus</option>
                        <option>Environmental Engineering</option>
                        <option>Mechanical Engineering</option>
                        <option>Technology, Arts & Media</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[SecondaryMajor]">Secondary Major:</label>
                <div class="col-md-5">
                    <select class="form-control  selectpicker" name="student[SecondaryMajor]">
                        <option>Aerospace Engineering</option>
                        <option>Applied Mathematics</option>
                        <option>Architectural Engineering</option>
                        <option>Chemical Engineering</option>
                        <option>Chemical & Biological Engineering</option>
                        <option>Civil Engineering</option>
                        <option>Computer Science</option>
                        <option>Electrical Engineering</option>
                        <option>Electrical and Computer Engineering</option>
                        <option>Engineering Physics</option>
                        <option>Engineering Plus</option>
                        <option>Environmental Engineering</option>
                        <option>Mechanical Engineering</option>
                        <option>Technology, Arts & Media</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[Id]">Student ID: </label>
                <div class="col-md-5">
                    <input type="number" class="form-control" size="9" maxlength="9" name="student[Id]" placeholder = "123456789">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[GPA]">GPA: </label>
                <div class="col-md-5">
                    <input type="number" class="form-control" size="5" maxlength="5" name="student[GPA]" step="any" placeholder = "x.xxx">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[SchoolLevel]">Level in school as of next Fall:</label>
                <div class="col-md-5">
                    <select class="form-control  selectpicker" name="student[SchoolLevel]">
                        <option>Freshman</option>
                        <option>Sophomore</option>
                        <option>Junior</option>
                        <option>Senior</option>
                        <option>5th Year Senior</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[GraduationDate]">Anticipated Graduation Date:</label>
                <div class="col-md-5">
                    <select class="form-control" name="student[GraduationMonth]">
                        <option value="">Month</option>
                        <option value="May">May</option>
                        <option value="August">August</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <select class="form-control  selectpicker" name="student[GraduationYear]">
                        <option value="">Year</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="student[isResearchExperience]">Do you have research experience?</label>
                <div class="col-md-5">
                    <div class="radio">
                        <label><input type="radio" name="student[isResearchExperience]" required>Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="student[isResearchExperience]">No (This will not affect your eligibility)</label>
                    </div>
                </div>
            </div>

                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="isResearchExperience"> Do you have research experience? </label>
                    <div class="col-md-5"></br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" >Yes</button>
                            <button type="button" class="btn btn-primary">No (This will not affect your eligibility)</button>
                        </div>
                    </div>
                </div> -->
            </div>

            <div>&nbsp</div>

            <div class="well">
                <h2 style="text-align: center">Apprenticeship Information</h2>
                <div>&nbsp</div>

               <div class="form-group">
                    <label class="control-label col-md-2" for="student[isAppliedBefore]">Have you applied for Discovery Learning Apprenticeship before?</label>
                    <div class="col-md-5">
                        <div class="radio">
                            <label><input type="radio" name="student[isAppliedBefore]">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="student[isAppliedBefore]">No</label>
                        </div>
                    </div>
               </div>



                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="isAppliedBefore"> Have you applied for Discovery Learning Apprenticeship before? </label>
                    <div class="col-md-5"></br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" >Yes</button>
                            <button type="button" class="btn btn-primary">No </button>
                        </div>
                    </div>
                </div> -->




                <div class="form-group">
                    <label class="control-label col-md-2" for="student[OtherFallEmployment]">Other Fall Employment Planned:</label>
                    <div class="col-md-5">
                        <textarea class="form-control" rows="5" name="student[OtherFallEmployment]"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <p><b>&nbsp&nbsp&nbsp&nbspPlease make sure you selected a major before proceeding!</b></p>
                    <p>&nbsp&nbsp&nbsp&nbspIndicate up to five research projects in order of interest:</p>
                    <p><b>&nbsp&nbsp&nbsp&nbspPlease note that some projects have special requirements that you must meet.</b></p>
                    <p>&nbsp&nbsp&nbsp&nbspTo see requirements and longer descriptions of the project, look at the projects available for your major here.</p>
                    <p>&nbsp&nbsp&nbsp&nbspFor a full listing of projects, look <a href="projects" target="_blank">here</a></p>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[ProjectPreferences]">(1 is most interested, 5 is moderately interested):</label>
                    <div class="col-md-5">
                        <label for="student[ProjectPreference1]">1:</label>
                        <select class="form-control" name="student[ProjectPreference1]">
                            <option value="">Select Project</option>
                        </select>
                        <label for="student[ProjectPreference2]">2:</label>
                        <select class="form-control" name="student[ProjectPreference2]">
                            <option value="">Select Project</option>
                        </select>
                        <label for="student[ProjectPreference3]">3:</label>
                        <select class="form-control" name="student[ProjectPreference3]">
                            <option value="">Select Project</option>
                        </select>
                        <label for="student[ProjectPreference4]">4:</label>
                        <select class="form-control" name="student[ProjectPreference4]">
                            <option value="">Select Project</option>
                        </select>
                        <label for="student[ProjectPreference5]">5:</label>
                        <select class="form-control" name="student[ProjectPreference5]">
                            <option value="">Select Project</option>
                        </select>
                    </div>
                </div>

               <div class="form-group">
                    <label class="control-label col-md-2" for="student[isBackgroundCheckDone]">Have you had a background check done?</label>
                    <div class="col-md-5">
                        <div class="radio">
                            <label><input type="radio" name="student[isBackgroundCheckDone]">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="student[isBackgroundCheckDone]">No</label>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="isBackgroundCheckDone"> Have you had a background check done?</label>
                    <div class="col-md-5"></br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" >Yes</button>
                            <button type="button" class="btn btn-primary">No </button>
                        </div>
                    </div>
                </div> -->


                <div class="form-group">
                    <label class="control-label col-md-2" for="student[LastBackgroundCheckDate]">If yes, when? (Take your best guess if not sure)</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="student[LastBackgroundCheckMonth]" placeholder="MMM">
                        <input type="text" class="form-control" name="student[LastBackgroundCheckYear]" placeholder="YYYY">
                    </div>
                </div>




                <div class="form-group">
                    <label class="control-label col-md-2" for="student[isHarassmentTrainingDone]">Have you had Discrimination and Harassment Awareness training yet (at CU) done?</label>
                    <div class="col-md-5">
                        <div class="radio">
                            <label><input type="radio" name="student[isHarassmentTrainingDone]">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="student[isHarassmentTrainingDone]">No</label>
                        </div>
                    </div>
                </div>


                <!-- <div class="form-group">
                    <label class="control-label col-md-2" for="isHarassmentTrainingDone"> Have you had Discrimination and Harassment Awareness training yet (at CU) done?</label>
                    <div class="col-md-5"></br>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" >Yes</button>
                            <button type="button" class="btn btn-primary">No </button>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">


                        <label class="control-label col-md-2" for="student[LastHarassmentTrainingDate]">If yes, when? (Take your best guess if not sure)</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="student[LastHarassmentTrainingMonth]" placeholder="MMM">
                            <input type="text" class="form-control" name="student[LastHarassmentTrainingYear]" placeholder="YYYY">
                        </div>

                </div>
            </div>

            <div>&nbsp</div>

            <div class="well">
                <h2 style="text-align: center">Skills, Resume, and Cover Letter</h2>
                <div>&nbsp</div>

                <div class="form-group">
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPlease list the three skills or qualifications that you feel make you a great candidate for the positions you selected:</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(Could be knowledge of a programming language, knowledge of a field, courses taken, personal characteristics, etc. If appropriate, note your match to requirements in job &nbsp&nbsp&nbsp&nbsp&nbspdescription. Please note responses are limited to 75 characters.)</p>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Skill1]">1:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" size="30" maxlength="75" class="form-control" name="student[Skill1]">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Skill2]">2:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" size="30" maxlength="75" class="form-control" name="student[Skill2]">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="student[Skill3]">3:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" size="30" maxlength="75" class="form-control" name="student[Skill3]">
                    </div>
                </div>

                <div class="form-group">
                    <p>&nbsp&nbsp&nbsp&nbspTo complete the application, you must submit a resume and a cover letter. You can submit both using the form below. Please use either the pdf format or a text document. To &nbsp&nbsp&nbspimprove your chances of being selected for an apprenticeship, please take the time to construct a well-written cover letter and resume.</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbspClick <a href="Writing%20Tips%20for%20Cover%20Letters%20and%20Resumes.doc" target="_blank">here</a> for some tips, which we highly recommend you review before submitting your cover letter and resume. </p>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[ResumeFile]">Resume:</label>
                        <div class="col-md-5">
                            <label class="btn btn-file">
                                <input type="file" name="student[ResumeFile]" onclick="Submit_Click" />
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="student[CoverLetterFile]">Cover Letter:</label>
                        <div class="col-md-5">
                            <label class="btn btn-file">
                                <input type="file" name="student[CoverLetterFile]" onclick="Submit_Click" />
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">

            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> </div>

            <div class="form-group">
                <div>
                    <button type="submit" class="btn center-block btn-default">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- TODO
Add Writing%20Tips%20for%20Cover%20Letters%20and%20Resumes.doc to server
-->

{% endblock %}