{% extends "navigation.html" %}

{% block content %}

<div style="background: rgba(0,0,0, 0.5)" class="jumbotron" style="margin-top:0px">

    <p> <b>Whether helping develop new diagnostic techniques for heart disease, or detecting the effects of nuclear waste, discovery learning apprentices make the most of their time at CU Boulder by supplementing classroom instruction with real-world engineering experience. </b></p>
    <p> <b>Undergraduate engineering students in the apprenticeship program earn hourly wages while engaging in research with college faculty and graduate students. Positions are announced in early April, and applications are accepted through the end of April for apprenticeships during the following academic year.</b></p>

    <p> <b>As an undergraduate discovery learning apprentice, you’ll work alongside graduate students, post-doctoral fellows, faculty, and industry representatives, as collaborative partners on original research. We find that students bring a fresh perspective to the research team while also learning from their more experienced partners.</b></p>
</div>

{% endblock %}